* {
  box-sizing: border-box;
}

.users {
  width: 60%;
  border: 1px solid red;
  padding: 10px;
  margin: 20px 10px 20px 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}

.App {
  display: flex;
}

.participant,
.winner {
  border: 1px solid red;
  padding: 10px;
  margin: 20px 20px 20px 10px;
  text-align: center;
}

.participant {
  height: 60vh;
}

.winner {
  height: calc(40vh - 60px);
}

input {
  display: block;
  width: 100%;
}

button {
  margin: 1em;
}

.wrapper {
  width: calc(40% - 20px);
}

.fname,
.sname {
  text-align: left;
}

.registration {
  padding: 1em;
}